<!DOCTYPE html>
<html lang="en">

<head>
	<!-- head begins -->
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Fuel App | New Fuel Quote</title>
	<!-- title -->
	<link rel="stylesheet" href="../css/new-fuel-quote.css" />
	<!-- linking the css file -->
</head>
<!-- head ends -->

<!--header-->
<header>
	<div class="banner" style="height: 75px;">
	<div class="logo">
		<h1>LOGO</h1>
	</div>

	<!--home button-->
		<form action="/">
			<input type="submit" class="home-button" title="Go back to home." value="Home" />
		</form>

	<!--logout button -->
		<form method="POST" action="/logout">
			<input type="submit" class="logout-button" title="Log out of account." value="Logout" />
		</form>
	</div>
</header>


<body>
	
	<!-- body begins -->
	<div class="container">
		<!-- creating a form -->
		<form action="/new-fuel-quote" method="POST" class="form-parent-class" id="new-fuel-quote">
			<h1 class="form-title">New Fuel Quote</h1>

			<div class="form-input-group">
				<!-- gallons-requested box-->
				<label for="gallons-requested"><b>Gallons Requested:</b></label>
				<input type="number" class="form-input" name="gallonsRequested" id="gallons-requested" min="1"
					required />
			</div>

			<div class="form-output-group">
				<!-- delivery-address box-->
				<label for="delivery-address"><b>Delivery Address:</b></label>
				<span class="form-output" style="color: #adb5bd">
					<!--call from database-->
					<%= locals.address %>
				</span>
			</div>

			<div class="form-input-group">
				<!-- deliveryDate box-->
				<label for="deliveryDate"><b>Delivery Date:</b></label>
				<input type="date" class="form-input" name="deliveryDate" id="deliveryDate" required />
			</div>

			<div class="form-output-group">
				<!-- suggested-price box-->
				<table class="table-1">
					<!-- table of 1Rx2C to output suggested-price -->
					<tr>
						<!-- row-1 begins -->
						<td>
							<!-- col-1 begins -->
							<label for="suggested-price"><b>Suggested Price:</b></label>
						</td>
						<!-- col-1 ends -->
						<td>
							<!-- col-2 begins -->
							<span style="color: #9b2226">
								<!--Not yet implemented-->
								-| not yet implemented |-
							</span>
						</td>
						<!-- col-2 ends -->
					</tr>
					<!-- row-1 ends -->
				</table>
				<!-- table begins -->
			</div>

			<div class="form-output-group">
				<!-- total-amount-due box-->
				<table class="table-2">
					<!-- table of 1Rx2C to output suggested-price -->
					<tr>
						<!-- row-1 begins -->
						<td>
							<!-- col-1 begins -->
							<label for="total-amount"><b>Total Amount Due:</b></label>
						</td>
						<!-- col-1 ends -->
						<td>
							<!-- col-2 begins -->
							<span style="color: #9b2226">
								<!--Not yet implemented-->
								-| not yet implemented |-
							</span>
						</td>
						<!-- col-2 ends -->
					</tr>
					<!-- row-1 ends -->
				</table>
				<!-- table begins -->
			</div>

			<div class="form-input-group">
				<!-- submit-button box-->
				<input type="submit" class="form-button" title="Click here to Submit a New Fuel Quote" value="Submit" />
			</div>
		</form>
		<!-- form ends here -->
	</div>
	<!-- container box ends here -->
	<script src="../js/setMinDate.js"></script>
</body>
<!-- body ends -->

</html>